#serviceContainer{
    width: 100%;
    background-color: #F7EFE5;
}

.contactTxt{
    padding: 30px 0px 30px 140px;
    font-family: "Roboto", sans-serif;
       font-size: 3rem;
     color: #000;
}

.servContents{
    width: 80%;
    margin: auto;
}

.servBg{
    width: 100%;
    height: auto;
}

.servImgContents{

   background-color: #fff;


.imgCont{
    display: flex;
   flex-wrap: wrap;
   padding: 80px 20px 50px 20px;
   width: 80%;
   margin: auto;


   
   img{
    width: 250px;
    height: 240px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #381717;
   }
}

}

.offerContainer{
    width: 80%;
    margin: auto;
}
    .offerContainer > h2{
        text-align: center;
        padding: 60px 0px 30px 0px;
        font-size: 2.6rem;
        font-family: "Roboto", sans-serif;
    }

    .offerContentContainer{
        display: flex;
        flex-direction: row;
        padding-bottom: 80px;
    }

    .offerContents{
                padding: 40px;
                border-top: 1px solid #686464;
                border-bottom: 1px solid #686464;
                border-left: 1px solid #686464;
    }

    .offerContents > i{
         font-size: 40px;
    }

    .offerContents > h3{
                font-size: 22px;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                padding-top: 20px;
    }

    p{
                font-family: "Barlow", sans-serif;
                line-height: 25px;
        }


        .offerContents:last-child{
            border-right: 1px solid #686464;
        }

        .offerContents:hover{
            background-color: #e2dbdbbe;
        }
    

.viewService{
    position: absolute;
    margin-top: -60px;
    float: right;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
}

.aright{
    padding-left: 5px;
}

@media screen and (max-width: 475px) {
    .contactTxt{
        padding: 30px;
        font-family: "Roboto", sans-serif;
           font-size: 2rem;
         color: #000;
    }

    .servImgContents > img{
        width: 150px;
        height: 140px;
        padding: 20px;
        margin: 10px;
    }

    .imgCont {
        display: flex;
       justify-content: center;  
    }

    .offerContentContainer{
        flex-direction: column;
    }

    .offerContents{
        border-right: 1px solid #686464;
    }

   
}