@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-rounded/css/uicons-thin-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css');

#contactSection{
    background-color: #F7EFE5;
}


.abtTxt{
    padding: 30px 0px 0px 140px;
    font-family: "Roboto", sans-serif;
       font-size: 3rem;
     color: #000;
}


#ContactContainer{
    display: flex;
    width: 80%;
    margin: 40px auto 0px auto;
    padding-bottom: 40px;

  
    
}

.contacLeft{
   flex: 1;

   img{
    width: 100%;
    height: auto;
   }
   
}



.contacRight{
   flex: 1;
   background-color: #fff;
}


.formContainer {
    width: 70%;
    margin: 80px auto;
    

    
}

.cIcons{
    font-size: 20px;
    color: #383535;
    padding-right: 10px;
}

.formContainer  .input-group{
    margin-bottom: 30px;
    border-bottom: 1px solid #2c2929c5;
    padding: 10px;


 }

 .formContainer input{
    font-size: 1rem;
    font-family: "Barlow", sans-serif;
    color: #000000 !important;

 }

 .input-group .inputCont{
    display: flex;
    flex-direction: row;
 }



 .row{
    display: flex;
    justify-content: space-between;
 }

 .column{
    width: 105%;
    margin-left: -12px;
 }

 .row .input-group{
    flex-basis: 47%;
 }

 .formContainer  input , textarea{
    width: 100%;
    outline: 0;
    border: none;
    background: transparent;
    color: #050505;
    resize: none;
 }

 .formContainer  input:focus{
    color: #020202;
 }

       .submit-btn {
          width: 100%;
            background-color: rgb(104, 112, 104);
            color: white;
            padding: 14px 20px;
            border: none;
            font-family: "Barlow", sans-serif;
           font-weight: 400;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.5s ease;
            
        }

        .submit-btn i{
            padding-right: 10px;
        }
        
     .submit-btn:hover {
            background-color: #050505;
        }


.addressCont{
    padding-top: 50px;
    line-height: 10px;
    font-family: "Barlow", sans-serif;
    color: #000;
}

.sIconCont{
    margin-top: 40px;
    

    i{
        padding-right: 14px;
        cursor: pointer;
    }
}


 @media screen and (max-width: 475px) {

    #ContactContainer{
        height: auto;
        flex-direction: column;
        width: 100%;
    }

    .abtTxt{
      padding: 30px;
      font-family: "Roboto", sans-serif;
         font-size: 2rem;
       color: #000;
  }
    
 }

