
.portFolioContainer{
  height: 120vh;
  background-color: rgb(26, 25, 25);
}

.portfolioCont{
  margin: 0px 120px;
  padding-top: 40px;
  line-height: 80px;
  font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #f0ecec;
}


.portfolioCont h2{
    font-size: 20px;
}

.portfolioCont p{
  font-size: 55px;
}



.image-Container{
  width: 100%;
  margin-left: 20%;

}


.image-Container > img{
       width: 500px;
       height: 500px;
       padding: 32px;
    
}

.viewFont{
  float: right;
  margin-right: 60px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: #f0ecec;
  font-size: 20px;
}

.viewFont ion-icon{
  padding-left: 6px;
  font-size: 1.2rem;
}

