#WatWeOffer{
    height: 144vh;
    background-color: rgb(247, 234, 229);
}

#WatWeOffer > h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 100px 0 20px 0;
    color: #3d1818;
    font-size: 1.5rem;
}

#WatWeOffer > h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3.8rem;
    margin: auto 160px;
    color: #3d1818;
}

#WatWeOffer span{
    color: rgb(71, 160, 71);
}

#WatWeOffer > h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-align: center;
    padding:30px 0 0 0;
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    color: #3d1818;
}

#WatWeOffer > p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #807e7ed7;
    font-size: 1rem;

}

.featureElements{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
}


.wIcon:hover,
.wIcon2:hover,
.wIcon3:hover{
    color: #f1f0f0;
    background-color: rgb(53, 119, 53);
}


.wIcon{
    font-size: 50px;
    border-radius: 30% 70% 54% 46% / 30% 39% 61% 70%;
    color: #3d1818;
    padding: 25px 30px;
    background-color: rgb(231, 217, 199);
    transition: all 0.5s;
}

.wIcon2{
    font-size: 50px;
    border-radius: 53% 47% 50% 50% / 69% 60% 40% 31% ;
    color: #3d1818;
    padding: 25px 32px;
    background-color: rgb(231, 217, 199);
    transition: all 0.5s;
}


.wIcon3{
    font-size: 50px;
    border-radius: 30% 70% 34% 66% / 44% 41% 59% 56% ;
    color: #3d1818;
    padding: 25px 30px;
    background-color: rgb(231, 217, 199);
    transition: all 0.5s;
}



  .elements{
    width: 30%;
    padding: 10px;
    margin: auto 30px;
    text-align: center;
    cursor: pointer;
    
  }

  
  .elements>h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
    padding-top: 60px;
   
  }

  .elements>p{
    font-size: 0.94rem;
    font-weight: 400;
    color: #585757;
    font-family: "Roboto", sans-serif;
    line-height: 28px;
  }

  .abBtn{
    margin-left: 45%;
   color: #ffffff;
   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
   font-size: 1.1rem;
   background-color:rgb(70, 160, 70);
   border: none;
   padding: 10px 30px;
   transition: all 0.9s;

}

.abBtn:hover{
   background-color: rgb(33, 36, 33);
   transition: all 0.5s ease; 
}

.abBtn i{
   padding-left: 10px;
}


