@import url(https://db.onlinewebfonts.com/c/164a60c2e090248befbcf32fdd5af386?family=Lulo+Clean+One+Bold);

#navBarSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #F7EFE5;
}

.nLogo{
    position: relative;
    font-size: 26px;
    font-family: "Cormorant Garamond", serif;
    margin: 30px 60px;
}

.lIcon{
    padding-right: 10px;
    font-size: 22px;
}


.navbar ul li{
    padding-right: 30px;
    
}

.nav-item a{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    padding: 30px;
    font-size: 17px;
    color: #050505;
}


.nav-item a:hover{
     color: #c9b7b7c7;
}

a{
    text-decoration: none;
    color: inherit;
}







@media screen and (max-width: 475px) {

    #navBarSection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-color: #F7EFE5;
    }

    .nLogo{
        position: relative;
        font-size: 16px;
        margin: 30px;
    }

    .navbar ul li{
        text-align: center;

        
    }
    
   

}

  


