.aboutBg{
    position: absolute;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.navBarTop ion-icon{
    font-size: 2rem;
    color: #f5f2f2;
    padding: 5px;
}

.abtTitle{
    position: absolute;
    left: 43%;
    top: 33%;
}

.abtTitle h1{
    color: #f5f2f2;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.abtTitle span{
    margin-top: -15px;
    color: #f5f2f2;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }

  .abservImgContainer{
    margin-top: 24%;
    height: 115vh;
    background-color: rgb(240, 240, 222);
    display: flex; 
 }

.abImg{
    width: 100%;
    height: 100vh;
}

.abImg > img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



#blogSection{
    height: 120vh;
}

#blogSection h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #301e1e;
    text-align: center;
    font-size: 28px;
    padding: 90px 0 20px 0;
}

#blogSection h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #301e1e;
    text-align: center;
    font-size: 50px;
}

.blogBox{
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto;
 
}

.blogCont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    cursor: pointer;
   
}

.blogCont:hover{
    background-color: rgb(255, 247, 236);
}

a{
    text-decoration: none;
    color: inherit;
}

 .blogCont  h4{
    padding: 20px 0;
    font-size: 18px;
}

  .blogCont  p{
   font-size: 24px;
   line-height: 36px;
   color: #463c3c;
}

.blogImg{
    width: 300px;
    height: auto;
    
}

.blogCont h5{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #6e6161;
}


.mainFooter{
    height: 47vh;
    background-color: #3a3333;
    color: #f5f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 80px;
}

.mainFooter .introSec{
    width: 350px;
    height: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.introSec h1,
.servSec h2,
.tagCloud h2,
.followSec h2{
  font-size: 22px;
  letter-spacing: 0.05rem;
}

.introSec p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #bdb0b0;
}

.servSec ul{
    list-style: none;
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.servSec li{
    font-size: 14px;
    padding: 4px;
    color: #bdb0b0;
}

.mainFooter .servSec ,
.tagCloud,
.followSec{
    width: 260px;
    height: 200px;
    font-size: 14px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  
}

.tagCloud button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 5px 8px;
    margin: 4px;
    background-color: transparent;
    border: 2px solid #797474;
    color: #f5f2f2;
    border-radius: 3px;
}

.socialIcons{
    display: flex;
    flex-direction: row;
}




