@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-chubby/css/uicons-thin-chubby.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#mainPageSection{
    background-color: #F7EFE5;
}


.mainPageContent{
    width: 85%;
    margin:  auto;
    
}


.heroTxt{

    h1{
        font-family: "Roboto", sans-serif;
        font-size: 3.2rem;
        color: #000;
        padding-top: 40px;
    }

    p{
        font-family: "Barlow", sans-serif;
        font-size: 1.3rem;
        color: #000;
    }
    
}

.productContainer{
    background-color: #ffffff;
    border-radius: 10px;
}

.productMainContent{
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    padding: 80px 40px;

    img{
        width: 255px;
        height: auto;
        transition: opacity 0.3s ease;
    }


}

.productBtn{

    display: flex;
    justify-content: center;
    padding-bottom: 40px;


    button{
        font-family: "Barlow", sans-serif;
        font-size: 1rem;
        padding: 10px 20px;
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        transition: all 0.8s ease;
    }

    button:hover{
           background-color: rgb(94, 88, 88);
           color: #ffffff;
    }
}




@media screen and (max-width: 475px) {

    .productMainContent{
        display: flex;
        flex-direction: column;
    }


    
}

