.imgStyle{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.arrowLeft,
.arrowRight{
    color: #ffffffa4;
   padding: 40px;
    cursor: pointer;
}

.arrowLeft span,
.arrowRight span{
    font-size: 30px;
}

.exitBtn{
    position: absolute; 
    top:30px; 
    right: 30px;
    color: #eeeaeab9;
    cursor: pointer;
}

.exitBtn span{
    font-size: 2rem;
}