.footerContainer{
    height: 12vh;
    background-color: #F7EFE5;
    color: #020202;
    font-family: "Roboto", sans-serif;

    p{
        position: absolute;
        width: 80%;
        margin: 30px 100px;
    }
}



@media screen and (max-width: 475px) {
    .footer-container>p{
        font-size: 0.9rem;
        position: absolute;
        margin: 25px;
    }
}

